/validacion.example/bin/
/validacion.example/obj/

/products.api/bin/
/products.api/.containers/
/products.api/obj/
/products.api/.vs/
/products.api/products.api/bin/
/products.api/products.api/obj/

/products.api.serilog/bin/
/products.api.serilog/.containers/
/products.api.serilog/obj/
/products.api.serilog/.vs/
/products.api.serilog/products.api/bin/
/products.api.serilog/products.api/obj/

/errorHandling.api/.vs/
/errorHandling.api/bin/
/errorHandling.api/obj/

/KafkaExample/.vs/
/KafkaExample/Common/bin/
/KafkaExample/Common/obj/
/KafkaExample/ConsumerKafka/bin/
/KafkaExample/ConsumerKafka/obj/
/KafkaExample/Crm.Kafka/bin/
/KafkaExample/Crm.Kafka/obj/


/cqrs.api/bin/
/cqrs.api/obj/