/validacion.example/bin/
/validacion.example/obj/

/products.api/bin/
/products.api/.containers/
/products.api/obj/
/products.api/.vs/
/products.api/products.api/bin/
/products.api/products.api/obj/

/products.api.serilog/bin/
/products.api.serilog/.containers/
/products.api.serilog/obj/
/products.api.serilog/.vs/
/products.api.serilog/products.api/bin/
/products.api.serilog/products.api/obj/

/errorHandling.api/.vs/
/errorHandling.api/products.api/bin/
/errorHandling.api/products.api/obj/